.App {
  text-align: center;
  background-color: #F3F2F1;
  height: 100vh;
}
.MuiSelect-select{
  text-align: start !important;
}
#standard-basic-helper-text{
  margin-left: auto;
  text-align: right !important;
}
